html{

}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:left top;
    background-image: url("https://Sasuke1003.github.io/Chungs-Info/image/bg4.jpg");
    background-color: #ccc;
}
footer{

}