html{
	-webkit-user-drag: none;
    -webkit-user-modify:none;
	user-select: none;
	-webkit-user-select: none;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-size:1920px 1080px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:left top;
    background-color:#000;
    z-index: 10;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    }
/*像素尺寸顯示*/
@media (max-width:1920px) and (max-height:1080px){
body {background-color: #000;
    background-size:1920px 1080px;}   
}
@media (max-width:1080px) and (max-height:598px){
body {background-color: #222;
    background-size:1080px 598px;}   
}
@media (max-width:720px) and (max-height:399px){
body {background-color: #444;
    background-size:720px 399px;}
}
@media (max-width:480px) and (max-height:266px){
body {background-color: #666;
    background-size:480px 266px;}
}
@media (max-width:240px) and (max-height:133px){
body {background-color: #888;
    background-size:240px 133px}
}
@media (max-width:133px) and (max-height:74px){
body {background-color: #AAA;
    background-size:133px 74px;}
}
@media (max-width:0px) and (max-height:0px){
body {background-color: #CCC;
    background-size:0px 0px;}
}
/*像素尺寸顯示*/

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////iphone13 Y///////////////////////////////////////DONE*/
@media screen and (max-width:390px) and (max-height:844px){
body {
    background-color: #000;
    background-size:390px 844px;
    background-image:url(https://Sasuke1003.github.io/Chung-Info/image/iphone13Y.jpg);
    }
.welcome{
    text-align: center;
    width:300px;
    height:100%;
    display:block;
    justify-content: center;
    color:#fff;
    position: relative;
    left:8%;
    top:300px;
    background-color: #555;
    font-size:40px;
    border:7px solid rgb(37, 37, 37)
    }
}
/*//////////////////////////////////////////iphone13 Y///////////////////////////////////////DONE*/

/*//////////////////////////////////////////iphone13 X//////////////////////////////////////////DONE*/
@media screen and (max-width:844px) and (max-height:390px){
body {
    background-color: #000;
    background-size:844px 390px;
    background-image:url(https://Sasuke1003.github.io/Chung-Info/image/iphone13X.jpg);
    }
.welcome{
    width:300px;
    height:100%;
    justify-content: center;
    background-color: #555;
    position: relative;
    left:30%;
    top:130px;
    display:block;
    font-size:30px;
    color:#fff;
    text-align: center;
    border:7px solid rgb(37,37,37)
    }
}
/*//////////////////////////////////////////iphone13 X//////////////////////////////////////////DONE*/

/*/////////////////////////////////////////////PC///////////////////////////////////////////////*/
@media screen and (max-width:1920px) and (max-height:969px) and (min-width:1080px) and (min-height:545px){
body {
    background-color: #000;
    background-size:1920px 1080px;
    background-image:url(https://Sasuke1003.github.io/Chung-Info/image/bg4.jpg);
    }
.welcome{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #000;
    position: relative;
    transition: all .3s linear;
    left:0;
    top:280px;
    padding-top:40px;
    padding-bottom:40px;
    display:block;
    background-color: transparent;
    font-size:30px;
    color:#fff;
    }
.welcome::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
    border-top: 3px solid #fff;
    }
.welcome::after{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s ease;
    }
.welcome:hover::before,
.welcome:hover::after{
    width: 100%;
    height: 100%;
    }
}
/*/////////////////////////////////////////////PC///////////////////////////////////////////////*/

/*////////////////////////////////////////Full screen///////////////////////////////////////////*/
@media screen and (max-height:1080px) and (min-height:970px){
 body {
    background-color: #000;
    background-size:1950px 1080px;
    background-image:url(https://Sasuke1003.github.io/Chung-Info/image/fullscreen.jpg);
    } 
.welcome{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #000;
    position: relative;
    transition: all .3s linear;
    left:0;
    top:280px;
    padding-top:40px;
    padding-bottom:40px;
    display:block;
    background-color: transparent;
    font-size:30px;
    color:#fff;
    }
.welcome::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
    border-top: 3px solid #fff;
    }
.welcome::after{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s ease;
    }
.welcome:hover::before,
.welcome:hover::after{
    width: 100%;
    height: 100%;
    }
}
/*////////////////////////////////////////Full screen///////////////////////////////////////////*/